# Author: gavaletz@google.com (Eric Gavaletz)
#
# Files that we do not want tracked by git.


# Binary files
*.pyc
android/bin/
android/images/
android/.settings/
tcpserver/bin/
tcpserver/mlab/
tcpserver/*.jar

# These are produced by templates
server/app.yaml
server/gspeedomenter/config_private.py
server/gspeedometer/templates/base.html
android/gen/


# This is for development data (not to be tracked)
server/dev_data/


# Random evil files
*.DS_Store
android/*/*/.DS_Store
