<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobiperf.mobiperf"
    android:versionCode="2"
    android:versionName="0.2">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.USE_CREDENTIALS" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.BATTERY_STATS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-sdk android:targetSdkVersion="10" android:minSdkVersion="8" />
    
  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <activity android:label="@string/app_name" 
        android:name=".MobiperfActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity 
      android:name="com.mobiperf.speedometer.SplashScreenActivity"
      android:launchMode="singleTask"
      android:theme="@android:style/Theme.Light.NoTitleBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>  
    </activity>
    <activity 
      android:name="com.mobiperf.speedometer.SystemConsoleActivity"
      android:launchMode="singleTask" 
      android:theme="@android:style/Theme.Light.NoTitleBar">      
    </activity>
    <activity 
      android:name="com.mobiperf.speedometer.MeasurementScheduleConsoleActivity"
      android:launchMode="singleTask">
    </activity>
    <service 
      android:name="com.mobiperf.speedometer.MeasurementScheduler" 
      android:exported="false">
    </service>
    <receiver android:name="com.mobiperf.speedometer.WatchdogBootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <category android:name="android.intent.category.HOME" />
      </intent-filter>
    </receiver>
    <activity android:name=".About"></activity>
    <activity android:name=".Preferences"></activity>
    <activity android:name=".NetworkToggle"></activity>
    <activity 
      android:name="com.mobiperf.speedometer.ResultsConsoleActivity"
      android:launchMode="singleTask"
      >
    </activity>
    <activity 
      android:name="com.mobiperf.speedometer.MeasurementCreationActivity"
      android:launchMode="singleTask">
    </activity>
  </application>
</manifest>