{# Home page template. #}

{% extends "base.html" %}

{% block body %}
{% if devices %}
{% include "devicelist.html" %}
{% include "map.html" %}
{% else %}
<br><br>
You don't have any devices currently uploading data to Mobiperf.
<a href="http://www.mobiperf.com">Follow the instructions here</a> to install
Mobiperf on your phone.
<br><br>
Note that if you recently installed the app, measurements may not appear here
until the device checks in, which occurs once an hour by default.
You can force a checkin by clicking on "Task Queue" and "Checkin" in the
Mobiperf app on your phone.
{% endif %}

{% if schedule %}
{% include "schedulelist.html" %}
{% endif %}

{% endblock %}
