<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["annotatedtimeline"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    {% for column in timeseries_columns %}
      data.addColumn('number', '{{column}}');
    {% endfor %}
    {% for row in timeseries_rows %}
      data.addRow({{row}});
    {% endfor %}

    var chart = new google.visualization.AnnotatedTimeLine(
        document.getElementById('timeseries_div'));
    chart.draw(data, {});
  }
</script>
<div id="timeseries_div" style="width: 760px; height: 400px;"></div>
